.example {
  font-size: 0.875rem;
  color: #000;
  margin-top: 0.25rem;
}

.description {
  margin-right: 0.25rem;
}

.text {
  color: var(--secondary-text);
  text-decoration: none;
}

.text:hover {
  color: var(--link-hover);
}
